[safe]
	directory = /usr/local/nvs
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Your Name
	email = youremail@gmail.com
